*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* h1{
font-size: 1.8rem;
padding:1rem 0;
}

h2{
font-size: 1.4rem;
padding:0.5rem 0;
}

h3{
  padding:1rem 0; 
}
*/

/* .carousel{
  height: 40% !important;
  width: 80% !important;
} */



/* @media (max-width: 900px) {
.carousel-caption h2 {
  font-size: 2.5vw;
}
} */


/* .wheel-img{
  animation: rotate_wheel 1s infinite linear;
}

@keyframes rotate_wheel { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  overflow-x: hidden;
}


/* home page background image */

.homebg-image{
  
  /* margin-right: 10%; */
    width: 100vw;
    height: 90vh;
    background:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1)) ,url(./assets/55.jpeg) no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   /* overflow: hidden; */

} 



.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
  font-size: 40px;
  font-weight: 600;

  color: #fff;
  /* width: 100vw; */
  /* height: 80vh; */
  background:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1)) ,url(./assets/wallpaper.jpg) no-repeat center center fixed ;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* position: relative; */
}

/* .video-bag{
 
  position: absolute;
  top: 10%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
} */







/* login page */
.login-page{
  height: 69vh;
}









